<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <appSettings>
    <add key="PCmoverLoggingEnabled" value="Verbose" />
    <add key="LoggingEnabled" value="Verbose" />
    <add key="PreviousLogFile" value="Rename" />
    <add key="UseSSL" value="true" />
    <add key="CertificateName" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="createPipeBindings" value="true" />
  </appSettings>
  
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="100000" />
    </diagnostics>
  </system.serviceModel>

  <runtime>
    <generatePublisherEvidence enabled="false" />
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Storage.v1" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.2052" newVersion="1.49.0.2052" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <!--
      <source name="System.ServiceModel" switchValue="Warning">
        <listeners>
          <add name="text"/>
        </listeners>
      </source>
      -->
      <source name="MRMAPI" switchValue="Information">
        <listeners>
          <add name="text" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="text" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\logs\PcmoverClient.log" />
    </sharedListeners>
  </system.diagnostics>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

</configuration>
